.dark {
    transition: all 0.3s ease-in-out;
}

.dark header {
    background-color: #ffffff1f;
    backdrop-filter: saturate(180%) blur(20px);
}

.dark .all_components  {
    background-color: var(--black);
}

.dark .slider_section {
    background-color: var(--black);
}

.dark a, p, h1, h2, h3 {
    color: #fff;
}

.dark .info h2 {
    color: #fff;
    border-radius: 10px;
    padding: 6px;
}

.dark .info h2:hover {
    color: #3b3b3b;
}

.dark .paralax {
    background-color: var(--black);
}

.dark .manual_btn.checked {
    background-color: var(--green-lima);
}

.dark .items_header h2{
    color: #fff; 
    transition: .3s;
}

.dark .manual_btn {
    background-color: var(--black);
}

.dark .encomende a{
    background-color: #fff;
    color: #000;
}

.dark .encomende a:hover{
    background-color: #b7b7b7;
    color: #000000;
}

.dark .profile_center:hover {
    overflow: hidden;
    color: #73ff00;
    box-shadow: 0 0 25px var(--cyan-pastel);
}

.dark .profile {
    background-color: var(--black);
}