.dark {
    transition: 1s ease-in-out;
}


.dark header {
    background-color: var(--purple-two);
}


.dark .slider_section {
    background-color: var(--black);
}

.dark a, p, h1, h2, h3 {
    color: #fff;
}

.dark .info h2 {
    color: #fff;
    background:
    linear-gradient(-35deg, #ffffff00 40%, var(--green-lima) 0 60%, var(--green-lima) 0) right/300% 100% no-repeat,
    linear-gradient(-35deg, #ffffff00 40%, var(--green-lima) 0 60%, var(--green-lima) 0) right/300% 100% no-repeat;
    background-clip: text, padding-box;
    border-radius: 10px;
    padding: 6px;
}

.dark .info h2:hover {
    color: #3b3b3b;
}

.dark .paralax {
    background-color: var(--black);
}

.dark .manual_btn.checked {
    background-color: var(--green-lima);
}

.dark .items_header {
    color: #fff;
}

.dark .manual_btn {
    background-color: var(--black);
}

.dark .encomende a{
    background-color: #fff;
    color: #000;
}

.dark .encomende a:hover{
    background-color: #1eff00;
    color: #000000;
}

.dark .profile_center:hover {
    overflow: hidden;
    color: #73ff00;
    box-shadow: 0 0 25px #73ff00;
}

.dark .profile {
    background-color: var(--black);
}